generated/resources/wsdl/GestorLibros.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions targetNamespace="http://ws.service.com/" name="GestorLibros" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws.service.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.service.com/" schemaLocation="GestorLibros_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getLibroById">
    <part name="parameters" element="tns:getLibroById"/>
  </message>
  <message name="getLibroByIdResponse">
    <part name="parameters" element="tns:getLibroByIdResponse"/>
  </message>
  <message name="NotFoundException">
    <part name="fault" element="tns:NotFoundException"/>
  </message>
  <message name="listarLibros">
    <part name="parameters" element="tns:listarLibros"/>
  </message>
  <message name="listarLibrosResponse">
    <part name="parameters" element="tns:listarLibrosResponse"/>
  </message>
  <portType name="GestorLibros">
    <operation name="getLibroById">
      <input wsam:Action="http://ws.service.com/GestorLibros/getLibroByIdRequest" message="tns:getLibroById"/>
      <output wsam:Action="http://ws.service.com/GestorLibros/getLibroByIdResponse" message="tns:getLibroByIdResponse"/>
      <fault message="tns:NotFoundException" name="NotFoundException" wsam:Action="http://ws.service.com/GestorLibros/getLibroById/Fault/NotFoundException"/>
    </operation>
    <operation name="listarLibros">
      <input wsam:Action="http://ws.service.com/GestorLibros/listarLibrosRequest" message="tns:listarLibros"/>
      <output wsam:Action="http://ws.service.com/GestorLibros/listarLibrosResponse" message="tns:listarLibrosResponse"/>
    </operation>
  </portType>
  <binding name="GestorLibrosImplPortBinding" type="tns:GestorLibros">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getLibroById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NotFoundException">
        <soap:fault name="NotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="listarLibros">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="GestorLibros">
    <port name="GestorLibrosImplPort" binding="tns:GestorLibrosImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

